.App {
  height: 100vh;
}

.size_12 {font-size: 12px;}
.size_13 {font-size: 13px;}
.size_14 {font-size: 14px;}
.size_15 {font-size: 15px;}
.size_16 {font-size: 16px;}
.size_18 {font-size: 18px;}
.size_20 {font-size: 20px;}
.size_22 {font-size: 22px;}
.size_24 {font-size: 24px;}

.font_b{font-weight: bold;}
.line_height{line-height: 1;}
.relative{position: relative;}

.flexEnd{justify-content:flex-end;display:flex;flex-wrap: wrap;}
.flexCenter{display:flex;justify-content:center;flex-wrap: wrap;}
.flexStart{display: flex;justify-content: flex-start;flex-wrap: wrap;}
.flexBetween{display: flex;justify-content:space-between;flex-wrap: wrap;}
.flexColumn{display: flex;flex-direction: column;}